/* 
    Layout
    ----------------------------------------------------------------------------
    All the style related to layout like flex/grid will go here

*/

.container {
    padding: 1em
}

.content {
    margin: 0 auto;
    max-width: 1440px;
}