/* 
    Typography
    ----------------------------------------------------------------------------
    In this typography for the document will be defined
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@300;400;500&display=swap');

:root {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.618;
    font-size: calc(12px + (16 - 12) * ((100vw - 380px) / (1440 - 380)));
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin-bottom:2rem;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
} 
h4 {
    font-size: 1.8em;
} 
h5 {
    font-size: 1.2em;
} 
h6 {
    font-size: 1em;
}

.link {
    text-decoration: none;
    color: #000;
}

.active .link {
    color: var(--accent);
}

.footer {
    font-size: 12px;
}